
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Ricerca Carte Magic</title>
</head>
<body>
    <h2>Ricerca Carte Magic</h2>
    <form asp-controller="Home" asp-action="Cards" method="get">
        <input type="text" id="name" name="name" placeholder="Nome della carta">
        <input type="text" id="manaCost" name="manaCost" placeholder="Costo di mana">
        <select id="colors" name="colors">
            <option value="">Tutti i colori</option>
            <option value="W">Bianco</option>
            <option value="B">Nero</option>
            <option value="U">Blue</option>
            <option value="G">Verde</option>
            <option value="R">Rosso</option>
        </select>
        <select id="set" name="set">
            <option value="">Tutti i set</option>
            @foreach (var set in Model.sets)
            {
                <option value="@set">@set</option>
            }
        </select>
        <button type="submit">Cerca</button>
    </form>

</body>
</html>
